div.header
{
    text-align: center; 
    background: #6495ED;
    height: 120px;
    background-image:url("/Images/detail.png");
    background-repeat:repeat-x;
    background-position:left bottom; /* or 0% 100% */
}

div.center
{
    text-align: center; 
}


div.footer
{
    text-align: center; 
    color: white;
    background: #6495ED;
}

table.center 
{
    margin-left:auto; 
    margin-right:auto;
}

.gridview th
{
    font-size: large;
    font-weight: bold;
    color: white;
    background: #222266;
    border: 1px solid black;
    padding: 8px;
}

.gridview td
{
    border: 1px solid black;
    padding: 8px;
}