<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="JaipurEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7b5d02d1-f04a-4be9-a76c-a21e0007522d.sqlserver.sequelizer.com;initial catalog=db7b5d02d1f04a4be9a76ca21e0007522d;persist security info=True;user id=zakwvpqcjlfmjdmv;password=47MY5G6rJiUKarQ4puuSJYVxuWKAZvdBJWBUiNNwdgtQXbeeUspbVSqdkpDh6Dyn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>